* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #711c91;
  --secondary-color: #00ff9f;
  --third-color: #133e7c;
  --fourth-color: #feff6e;
  --fifth-color: #c1246b;
  --sixth-color: #0abdc6;
  --seventh-color: #503d90;
  --light-color: #fff;
  --dark-color: #333;
  --grey-color: #43494d;
}

body {
  font-family: "Lato", sans-serif;
  line-height: 1.7;
  font-size: 18px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/* ----- Shared CSS ----- */

/* Buttons */

.btnMain {
  font-size: 16px;
  background-color: var(--primary-color);
  padding: 1.2rem 2.5rem;
  color: var(--light-color);
  outline: none;
  transition: all 0.3s;
}
.btnMain:hover {
  cursor: pointer;
  background-color: var(--seventh-color);
}

.btnSecond {
  font-size: 16px;
  padding: 0.6rem 5rem;
  outline: none;
  transition: all 0.3s;
  background-color: var(--sixth-color);
}
.btnSecond:hover {
  cursor: pointer;
  background-color: var(--third-color);
}

.btnThird {
  font-size: 16px;
  background-color: var(--secondary-color);
  padding: 0.8rem 2rem;
  color: var(--dark-color);
  outline: none;
  transition: all 0.3s;
}
.btnThird:hover {
  cursor: pointer;
  background-color: var(--fifth-color);
  color: var(--light-color);
}

.btnContact {
  display: block;
  margin-top: 4rem;
  padding: 1rem 4rem;
  font-size: 16px;
  background-color: var(--sixth-color);
  transition: all 0.3s;
}
.btnContact:hover {
  cursor: pointer;
  background-color: var(--third-color);
  color: var(--light-color);
}
.btnCheckout {
  padding: 0.6rem 2rem;
  margin: 0.3rem 0;
  width: 100%;
  background-color: var(--fifth-color);
  color: var(--light-color);
}
.btnCheckout:hover {
  cursor: pointer;
}

.shopBtnMinus {
  background: url("/img/shop/minus-btn-scaled.png") no-repeat center center /
    cover;
  width: 25px;
  height: 25px;
  border: none;
  outline: none;
}
.shopBtnMinus:hover,
.shopBtnPlus:hover {
  cursor: pointer;
}
.shopBtnPlus {
  background: url("/img/shop/plus-btn-scaled.png") no-repeat center center /
    cover;
  width: 25px;
  height: 25px;
  border: none;
  outline: none;
}
.shopAmountInput {
  width: 30px;
  font-size: 17px;
  text-align: center;
  outline: none;
  border: none;
}

/* Page Headers */

.pageHeader {
  background-color: var(--dark-color);
  color: var(--light-color);
  position: relative;
  padding: 2rem 2rem 2rem 10%;
}

.pageHeader:before {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  content: "";
  opacity: 0.5;
}

.headerContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  height: 50vh;
}

.headerContent {
  z-index: 2;
  margin: 0 auto;
}

.headerTitle {
  font-size: 4rem;
  font-weight: bold;
  line-height: 1.6;
}

/* ----- Nav bar ----- */

#mainNav {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 50;
}
.navUl {
  display: flex;
  justify-content: flex-end;
  padding-right: 2rem;
  background-color: var(--sixth-color);
}

.navLi {
  padding: 1rem 1.5rem;
  color: var(--dark-color);
  font-weight: bold;
}
.navLi:hover {
  background-color: var(--fourth-color);
  color: var(--dark-color);
}

.logo {
  height: 30px;
  position: absolute;
  top: 25%;
  left: 10%;
}

.current {
  background-color: var(--primary-color);
  color: var(--light-color);
}

/* ----- Index Page ----- */

/* Header Main */

#headerMain:before {
  background: url("/img/main1-scaled.png") no-repeat center center / cover;
}

/* News Letters */

#newsLetters {
  background-color: var(--seventh-color);
}

.mainStory {
  padding: 4rem 8%;
  border-top: 8px solid #ccc;
  border-bottom: 8px solid #ccc;
}

.mainStoryHeader {
  text-align: center;
  font-weight: bold;
  font-size: 3rem;
  color: #ccc;
  padding-bottom: 3rem;
}

.newsletterGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.cardTitle {
  font-weight: bold;
  font-size: 22px;
  padding-bottom: 0.5rem;
}

.cardInfo {
  padding: 1rem;
}

.cardBody {
  padding-bottom: 1rem;
}

#card1 {
  display: flex;
  background-color: var(--fourth-color);
  grid-column: 1 / span 2;
}
#card1img {
  padding: 1rem;
}

#card2 {
  background-color: var(--dark-color);
  color: var(--light-color);
}

#card3,
#card4,
#card5 {
  background-color: var(--light-color);
}

#card3img,
#card4img,
#card5img {
  width: 100%;
}

#card6 {
  background-color: var(--third-color);
  color: var(--light-color);
}

#card7 {
  background-color: var(--dark-color);
  color: var(--light-color);
  grid-column: 2 / span 2;
}
#cardInfo7 {
  display: flex;
}
.cardWrapper {
  width: 50%;
}
#card7img {
  width: 50%;
  padding: 1rem;
}

/* ----- Footer Main ----- */

#footerMain {
  background-color: var(--dark-color);
}

.newsletterSub {
  text-align: center;
  padding: 3rem;
  color: var(--light-color);
  border-bottom: 8px solid #ccc;
}

.subHeader {
  font-weight: bold;
  font-size: 1.8rem;
}

#subEmail {
  font-size: 18px;
  display: block;
  margin: 1rem auto;
  padding: 0.3rem;
  outline: none;
  text-align: center;
}

.footerColumns {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 4rem 10%;
  color: var(--light-color);
}

#footerLogo {
  width: 250px;
  padding-bottom: 1rem;
}

.footerQuote,
.siteLinks,
.join {
  padding: 0 10%;
  margin: 0 auto;
}
.siteLinks {
  width: 70%;
}

.links,
.joinHeader {
  font-weight: bold;
  padding-bottom: 0.5rem;
}

.siteLink {
  color: var(--light-color);
}
.siteLink:hover {
  color: var(--secondary-color);
}

.joinText {
  padding-bottom: 1rem;
}

.footerLi {
  padding: 0.5rem 0;
  border-bottom: 1px dotted grey;
}

.signature {
  text-align: center;
  padding: 2rem;
  color: lightgray;
  font-size: 16px;
}
.sigSpan {
  color: var(--secondary-color);
}

/* ----- About Us ----- */

#headerAbout:before {
  background: url("/img/neon3.jpg") no-repeat center center / cover;
}

.whoContainer {
  background-color: var(--seventh-color);
  border-top: 6px solid var(--sixth-color);
  border-bottom: 6px solid var(--sixth-color);
  padding: 3rem 5%;
}

.aboutInfo {
  display: flex;
}

.whoHeader,
.whoTextContainer {
  width: 50%;
}
.whoHeader {
  text-align: center;
  font-size: 6rem;
  font-weight: bold;
  color: #ccc;
  word-spacing: 999px;
  padding-top: 4rem;
}
.whoTextContainer {
  padding: 6rem 0;
}
.whoText {
  font-size: 20px;
  color: var(--light-color);
  line-height: 1.8;
  padding: 0.5rem 0;
}

.parallax {
  background: url("/img/parallax.jpg") no-repeat center center / cover;
  height: 500px;
  background-attachment: fixed;
}

.creatorContainer {
  display: flex;
  border-top: 6px solid var(--sixth-color);
  background-color: #090909;
  color: var(--light-color);
}
.creatorText,
.aboutVideo {
  width: 50%;
}
.creatorText {
  padding: 4rem;
}
.mikeHeader {
  font-weight: bold;
  font-size: 1.6rem;
  padding-bottom: 1rem;
}
.aboutVideo {
  padding: 4rem;
}

/* ----- Contact ----- */

#headerContact {
  background: url("/img/city1.jpg") no-repeat center center / cover;
  background-color: black;
  opacity: 0.8;
}

.contactContainer {
  padding: 6rem 10%;
  border-top: 6px solid var(--fifth-color);
  border-bottom: 6px solid var(--fifth-color);
  background-color: #090909;
  color: var(--light-color);
}

.contactTitle {
  padding-bottom: 1rem;
}

/* Form */

#contactForm {
  padding: 6rem 0;
}

#contactName,
#contactEmail,
#contactMessage,
#contactSubject {
  font-size: 18px;
  border: none;
  border-bottom: 3px solid var(--sixth-color);
  padding-bottom: 5px;
  font-family: "Lato", sans-serif;
  outline: none;
  width: 25%;
  background-color: transparent;
  color: var(--light-color);
}

#contactName,
#contactEmail {
  margin-right: 2rem;
}

#contactMessage {
  margin-top: 4rem;
}

/* ----- SHOP ----- */

#headerShop {
  background: url("/img/neonshop1.jpg") no-repeat center center / cover;
  background-color: black;
  opacity: 0.9;
}

#cyberpunkShop {
  display: flex;
  background-color: var(--seventh-color);
  justify-content: center;
}
.shopContainer {
  background-color: var(--seventh-color);
  padding: 8rem 4rem;
  display: flex;
}

.shop {
  background-color: var(--light-color);
  border-radius: 5px;
}
.shopHeadings {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  color: var(--grey-color);
}
.shopHeading {
  padding: 1rem;
  margin-right: 2rem;
}
#shopStr {
  grid-column: 1 / span 3;
  margin-left: 1rem;
}
#shopQty,
#shopPrice,
#shopStl {
  margin-left: 1.5rem;
}

.item {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  padding: 3%;
  border-top: 1px solid lightgray;
}
.itemImg {
  width: 100px;
  height: 100px;
  margin: 0 3%;
}
.itemDetails {
  margin: 0 4%;
}
.detail {
  font-size: 14px;
  color: var(--grey-color);
  padding-bottom: 0.5rem;
}
.itemColor {
  font-size: 14px;
  color: var(--fifth-color);
}

.featureBtns {
  display: flex;
  margin: auto;
}
.removeBtn,
.likeBtn {
  width: 25px;
  height: 25px;
  margin: 0 0.8rem;
}
.removeBtn:hover,
.likeBtn:hover {
  cursor: pointer;
}
.likeBtn {
  background: url("/img/shop/like-before.png") no-repeat center center / cover;
}
.active {
  background: url("/img/shop/like.png") no-repeat center center / cover;
}
#removeBtnImg,
#likeBtnImg {
  width: 100%;
}

#shopCup {
  width: 100%;
}

.shopQuantity {
  display: flex;
  margin: auto;
}
.quantity {
  padding: 0 1rem;
}
.shopPrice {
  margin: auto;
}
.shopSubtotal {
  margin: auto;
}

#qtyImgPlus,
#qtyImgMinus {
  width: 25px;
  height: 25px;
}

#qtyImgPlus:hover,
#qtyImgMinus:hover {
  cursor: pointer;
}

/* total */

.totalContainer {
  background-color: var(--light-color);
  border-radius: 5px;
  width: 300px;
  height: 330px;
  border: 1px solid lightgray;
  padding: 1rem;
}

.subtotalSection,
.vatSection,
.totalSection {
  display: flex;
  padding: 0.5rem 0;
  justify-content: space-between;
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  margin: 1rem 0;
}
.totalHeader {
  text-align: center;
  padding: 0.5rem;
  color: var(--grey-color);
  font-size: 14px;
}
.totalText {
  font-weight: bold;
}
